<h1>Create New List</h1>

<a href="/">Home</a><br>
<a href="/lists">View All Lists</a><br>


<hr>

<form action="/lists" method="post">
  <input id = 'name' name="name" type="text" placeholder="List Name" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Add List</button>
</form>
